<mat-card>
  <mat-card-title>Role Maintenance</mat-card-title>
  <form class="role-maintenance-form">
    <mat-form-field appearance="outline" class="form-control">
      <mat-label for="text">Username</mat-label>
      <input matInput type="text" name="username" id="username" [(ngModel)]="username" placeholder="Use Name"  required >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="onSearch()">Search</button>
    <br>       
    <div class="userList">   
      <h2>Email </h2>
      <div class="email">{{searcheduser[0].email}}</div>
      <h2>User Name </h2>
      <div class="username" >{{searcheduser[0].username}}</div>
      <h2>Ban </h2>
      <input type="checkbox" name ="moderatorBlocked" [checked]="searcheduser[0].moderatorBlocked" (change)="moderatorBlocked = !searcheduser[0].moderatorBlocked">
      <h2>Moderator </h2>
      <input type="checkbox" name="moderator"  [(ngModel)]="moderator">
    </div>
    <br>
    <button mat-raised-button color="primary" type="submit" (click)="onUpdate()" >Update</button>
  </form>
</mat-card>
