<mat-card>
  <button
    mat-icon-button
    aria-label="close dialog"
    class="close-icon"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-title>Role Maintenance</mat-card-title>
  <form class="role-maintenance-form">
    <mat-form-field appearance="outline" class="form-control">
      <mat-label for="text">Username</mat-label>
      <input
        matInput
        type="text"
        name="username"
        id="username"
        [(ngModel)]="username"
        placeholder="Use Name"
        required
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSearch()"
    >
      Search
    </button>
    <br />
    <div class="listTitle">
      <h2 class="emailLable">Email</h2>
      <h2 class="userNameLable">User Name</h2>
      <h2 *ngIf="inLoggedUserIsModerator">Ban</h2>
      <h2 *ngIf="inLoggedUserIsAmin">Moderator</h2>
    </div>
    <div class="userList">
      <div class="user" *ngFor="let user of users">
        <div class="email">{{ user.email }}</div>
        <div class="username">{{ user.username }}</div>
        <input
          type="checkbox"
          name="moderatorBlocked"
          *ngIf="inLoggedUserIsModerator"
          [checked]="user.moderatorBlocked"
          (change)="moderatorBlocked = !user.moderatorBlocked"
        />
        <input
          type="checkbox"
          name="moderator"
          *ngIf="inLoggedUserIsAmin"
          [(ngModel)]="moderator"
        />
      </div>
    </div>
    <br />

    <br />
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onUpdate()"
    >
      Update
    </button>
  </form>
</mat-card>
