<!-- <h2>You selected thread with id {{threadId}}</h2> -->

<mat-card>
  <mat-card-title>Thread title: {{threadTitle}}</mat-card-title>
  <mat-card-content class="thread-cards">

    <mat-card>  <h2>First post: {{firstPost}}</h2></mat-card>
  <!-- <a routerLink="/:id" class="route-link" > -->
  <mat-card class="thread-card" *ngFor="let post of posts">
    <mat-card-title-group>
     Post creator {{post.creator}}
    </mat-card-title-group>
    <mat-card-content>{{post.postText}}
      <!-- <h4>Last comment in thread:</h4> {{thread.posts[thread.posts.length-1]}} -->
    </mat-card-content>
  </mat-card>
  <!-- </a> -->

</mat-card-content>






  <!-- -------------------Create post--------------------------- -->
  <mat-card>
    <mat-card-title>Create post</mat-card-title>
    <form class="create-post">
      <mat-form-field class="post-field" appearance="fill">
        <mat-label>Write your post</mat-label>
        <textarea matInput placeholder="Ex. Volvo vs Tesla..." type="create-post" name="create-post" id="create-post"
          required [(ngModel)]="createdPost"></textarea>
      </mat-form-field>
      <br>
      <button mat-raised-button class="create-button" type="submit" value="createPost"
        (click)="createPost()">Create</button>

    </form>
  </mat-card>
</mat-card>