<div class="my-profile-container">
  <div class="myProfile-card">
    <h1 >Delete your threads</h1>
    <button mat-raised-button class="delete-button" color="primary" (click)="openDeleteThread()">Delete
      thread</button>
  </div>
  <div class="myProfile-card">
    <h1 >Delete your posts</h1>
    <button mat-raised-button class="delete-button" color="primary" (click)="openDeletePost()">Delete
      post</button>
  </div>
  <div class="myProfile-card">
    <h1 >Delete your account</h1>
    <button mat-raised-button class="delete-button" color="primary" (click)="openDeleteAccount()">Delete
      account</button>
  </div>
 
</div>