.my-profile-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 50px;
  margin: 10px;
}

.myProfile-card {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  border: 2px solid silver;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
}

.delete-button {
  margin-bottom: 15px;
  width: 150px;
}
