<mat-toolbar color="primary" class="mat-elevation-z6" class="nav">
  <a mat-button routerLink=""><span><mat-icon>directions_car</mat-icon>CAR</span></a>
  <div class="title">Worlds biggest car forum</div>
  <div class="spacer"></div>
  <!-- <a mat-button routerLink="forum">FORUM</a> -->
  <a mat-button *ngIf="!_authService.signedIn()" (click)="openSignIn()">Sign in</a>
  <a mat-button *ngIf="!_authService.signedIn()" (click)="openRegister()">Register</a>
  <button mat-button *ngIf="_authService.signedIn()" [matMenuTriggerFor]="menu">My profile</button>
  <mat-menu #menu="matMenu">
    <a mat-button routerLink="myprofile">My profile</a>
    <br>
    <a mat-button *ngIf="_authService.roleMaintenance()" (click)="openRoleMaintenance()">Role maintenance</a>
    <br>
    <a mat-button (click)="_authService.signOutUser()">Sign out</a>
    <mat-list>
      <mat-list-item>Roles:</mat-list-item>
      <mat-list-item role="listitem">User</mat-list-item>
      <mat-list-item role="listitem" *ngIf="_authService.isModerator()">Moderator</mat-list-item>
      <mat-list-item role="listitem" *ngIf="_authService.isAdmin()">Admin</mat-list-item>
      <!-- <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item> -->
    </mat-list>
  </mat-menu>
</mat-toolbar>