<div class="category-container">
  <mat-card class="outer-category-card">
    <mat-card-content class="category-cards">
      <!-- <a routerLink="/:id" class="route-link" > -->
      <mat-card (click)="onSelect(category)" class="category-card" *ngFor="let category of categories">
          <img class="category-img" mat-card-image src={{category.img}} alt="Photo of a car">

        <mat-card-title-group>
          <mat-card-title>{{category.name}}</mat-card-title>
          <!-- <mat-card-subtitle>Small</mat-card-subtitle> -->
        </mat-card-title-group>
        <mat-card-content>
          <!-- <h4>Last comment in thread:</h4> {{category.threads[category.threads.length-1]}} -->
        </mat-card-content>
      </mat-card>
      <!-- </a> -->

    </mat-card-content>
  </mat-card>
</div>