<!-- <div class="card-container">
  
  <a mat-button routerLink="forum/sportcars" class="sub-forum">
    <mat-card class="forum-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Sport cars
        </p>
      </mat-card-content>
    </mat-card>
  </a>

  <a mat-button routerLink="forum/electriccars" class="sub-forum">
    <mat-card class="forum-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Electric cars
        </p>
      </mat-card-content>
    </mat-card>
  </a>

  <a mat-button routerLink="forum/veterancars" class="sub-forum">
    <mat-card class="forum-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Veteran cars
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div> -->

<div class="forum-container">
  <mat-card class="forum-card">
    <mat-card-content class="thread-cards">
      <!-- <a routerLink="/:id" class="route-link" > -->
      <!-- <mat-card (click)="onSelect(category)" class="category-card" *ngFor="let category of categories"> -->
        <mat-card-title-group>
          <!-- <mat-card-title>{{category.name}}</mat-card-title> -->
          <!-- <mat-card-subtitle>Small</mat-card-subtitle> -->
        </mat-card-title-group>
        <!-- <mat-card-content>
          <h4>Last comment in thread:</h4> {{thread.posts[thread.posts.length-1]}}
        </mat-card-content> -->
      <!-- </mat-card> -->
      <!-- </a> -->

    </mat-card-content>
  </mat-card>
</div>