<mat-card>
  <mat-card-title>Sign in</mat-card-title>
  <form class="sign-in-form" (ngSubmit)="onSignIn()">
    <mat-form-field appearance="outline" class="form-control">
      <mat-label for="text">Username</mat-label>
      <input matInput type="text" name="username" id="username" placeholder="Username" [(ngModel)]="username" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label for="text">Password</mat-label>
      <input matInput type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password"
        required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <br>
    
    <button mat-raised-button color="primary" type="submit" value="Sign in">Sign in</button>
    <mat-error *ngIf="wasAnError"><h2>ERROR: {{errorMessage}}</h2></mat-error>

  </form>
</mat-card>