<div class="my-profile-container">
  <mat-card class="created-threads-card">
    <button
      mat-raised-button
      class="create-thread-button"
      *ngIf="_authService.signedIn()"
      color="primary"
      (click)="openCreateThread()"
    >
      Create thread
    </button>
    <mat-card-content class="thread-cards">
      <mat-card
        (click)="onSelectThread(thread)"
        class="thread-card"
        *ngFor="let thread of threads"
      >
        <mat-card-title-group>
          <mat-card-title>Title: {{ thread.title }}</mat-card-title>
          <br />
        </mat-card-title-group>
        <mat-card-content>
          <h3>Thread strarter: {{ thread.threadStarterUsername }}</h3>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
