<div class="card-container">

  <a mat-button routerLink="sportcars" class="sub-forum">
    <mat-card class="forum-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Sport cars
        </p>
      </mat-card-content>
    </mat-card>
  </a>

  <a mat-button routerLink="electriccars" class="sub-forum">
    <mat-card class="forum-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Electric cars
        </p>
      </mat-card-content>
    </mat-card>
  </a>

  <a mat-button routerLink="veterancars" class="sub-forum">
    <mat-card class="forum-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Veteran cars
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div>